<!DOCTYPE html>
<html lang ="no">
<html>
    <head>
        <title>Space Partay</title>
        <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    </head>

    <body style="display:flex; justify-content: center; align-items: center; flex-direction: column;">
        <div>
            <header style="display: flex; justify-content: center; text-align: center; font-size:xxx-large; margin-bottom:2%">SPACE PARTAY</header>
        </div>
        <header>
            <div class ="header-logo">
                <a href="/">
                    <img src="{{ url_for('static', filename='logo.PNG') }}" class="logo">
                </a>
            </div>
            <div class = "header-links">
                <a href="{{ url_for('member')}}" style="width: 15%; height: 25%; border-radius:5%; border-color: white; border-width: 1px; border-style: solid; padding: 1%;">
                    Bli Medlem
                </a>
                <a href="{{ url_for('chat')}}" style="width: 15%; height: 25%; border-radius:5%; border-color: white; border-width: 1px; border-style: solid; padding: 1%;">
                    Politikken
                </a>
                <a href="{{ url_for('omoss')}}" style="width: 15%; height: 25%; border-radius:5%; border-color: white; border-width: 1px; border-style: solid; padding: 1%;">
                    Om oss
                </a>
            </div>
        </header>
        <main>
            <div class ="tagline">
                <!-- <h1>Space Partay</h1> -->
                <p style="font-size:x-large; background-color: #19243d; border-radius: 5%; padding: 2%;">Vi tenker utenfor <s>boksen</s> atmosfæren.</p>
                <img src = "../static/logo.PNG" width="500" />
            </div>
            <div class = "verdier-over">
                <h1>Våre Verdier</h1>
            <div class = "verdier">
                <!-- TODO: add values -->
                <p> Bærekraft gjennom rombasert industri: Vi tror at jordens miljøproblemer ikke løses ved å tukle mer med planeten, men ved å flytte tung industri, datasentre og avfall ut i verdensrommet. Jordkloden skal puste fritt igjen, og det er vår jobb å sørge for at det skjer.</p>
                <p> Fokus på fremtidens utdanning og arbeidsplasser: Utdanning skal heller forme eksperter i romfart og STEM-fag enn å hengi seg til utdaterte samfunnsvitenskaper. Arbeidsmarkedet vårt skal preges av raketteknologi og ny teknologi, for framtiden er i rommet – ikke her nede.</p>
                <p> Ambisiøs, men praktisk infrastruktur: Vi bygger ikke luftslott, men sikrer konkret infrastruktur som 18-felts motorveier mellom byer med over 1000 innbyggere, og effektive transportløsninger for å støtte rombasert industri.</p>
            </div>
            </div>
            <div class = "leder">
                <!-- TODO: add leader info -->
                <div class = "subheader">
                    <h2>Vår kjære partileder: Darleif Vederås</h2>
                </div>
                <div class = "info">
                    <img src="{{ url_for('static', filename='propell.PNG') }}" style="width:25vw; height:40vh;">
                    <div>
                        <h3>Darleif Vederås, Mannen med ideene!</h3>
                        <p>
                            Jeg er Darleif Vederås, leder for Space Partay. Jeg brenner for å frigjøre jorden fra miljøgifter og tung industri ved å flytte dette ut i rommet. Sammen med partiet mitt vil jeg bygge Norges romindustri, skape nye arbeidsplasser og sikre en bærekraftig framtid for planeten vår. Vi tror på teknologi, rakettfag og rombasert utvikling – jordens problemer løser vi ikke på jorden. Enkel og klar politikk med blikket festet mot stjernene
                        </p>
                    </div>
                </div>
            </div>
        </main>
    </body>
</html>