<!doctype html>
<html lang="no">
<html>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
        <div>
            <header style="display: flex; justify-content: center; text-align: center; font-size:xxx-large; margin-bottom:2%">SPACE PARTAY</header>
        </div>
        <header>
            <div class ="header-logo">
                <a href="/">
                    <img src="{{ url_for('static', filename='logo.PNG') }}" class="logo">
                </a>
            </div>
            <div class = "header-links">
                <a href="{{ url_for('member')}}" style="width: 15%; height: 25%; border-radius:5%; border-color: white; border-width: 1px; border-style: solid; padding: 1%;">
                    Bli Medlem
                </a>
                <a href="{{ url_for('chat')}}" style="width: 15%; height: 25%; border-radius:5%; border-color: white; border-width: 1px; border-style: solid; padding: 1%;">
                    Politikken
                </a>
                <a href="{{ url_for('omoss')}}" style="width: 15%; height: 25%; border-radius:5%; border-color: white; border-width: 1px; border-style: solid; padding: 1%;">
                    Om oss
                </a>
            </div>
        </header>
    <head style="display:flex; justify-content: center; align-items: center; flex-direction: column;">
        <p style="display:flex; justify-content: center; align-items: center; font-size: xx-large; color: white;">Space Partay - Bli Medlem</p>
        <div style="display:flex; justify-content: center; align-items: center; flex-direction: row;">
            <textarea id="firstname" placeholder="Fornavn" style="background-color: #19243d; margin:2%; width: 30%; height: 30%; color: white;"></textarea>
            <textarea id="lastname" placeholder="Etternavn" style="background-color: #19243d; margin:2%; width: 30%; height: 30%; color: white;"></textarea>
        </div>
        <div style="display:flex; justify-content: center; align-items: center; flex-direction: row; margin: 2%">
            <textarea id="email" placeholder="E-post" style="background-color: #19243d; width: 40%; height: 30%; color: white;"></textarea>
        </div>
        <div style="display: flex; justify-content: center; align-items: center; flex-direction: row; margin: 3%">
            <button id="submit" onclick="alert('Du er nå medlem! Gratulerer🥳')">Bli Medlem</button>
        </div>
    </head>

</html>