body {
    font-family: "Inter", sans-serif;
    
    margin-top: 80px;
    background: #0f172a;
    color: white;
}

.logo {
    position: fixed;
    top: 20px;
    left: 20px;
    width: 80px;
    
}
main{
    text-align: center;
}
button {
    padding: 12px 20px;
    font-size: 16px;
    border: none;
    border-radius: 8px;
    background: #38bdf8;
    cursor: pointer;
}
header{
    width:100vw;
    display:grid;
    grid-template-columns: 10vw 90vw;
    grid-template-rows: 10vw;
    margin:0;
    font-size: 2vw;
    text-align: center;
}

.header-links{
    display:flex;
    justify-content: space-evenly;
}

a{
    text-decoration: none;
    color:white;
}

.omoss-main{
    display:grid;
    grid-template-columns: 45vw 45vw;
    grid-template-rows: auto;
    gap: 5vw;
}

.verdier{
    display: grid;
    grid-template-columns: repeat(3, 1fr);   /* 3 like kolonner */
    gap: 2rem;

    width: min(1100px, 90vw);               /* Gi den en maks-bredde */
    margin: 0 auto;                         /* Sentrer hele grid-boksen */

    justify-items: center;                  /* Sentrer elementene i cellene */
    text-align: center;                     /* Sentrer teksten */
}


.verdier p{
    margin: 0;          /* Fjern default margin */
    max-width: 300px;   /* Hindrer at teksten blir ekstremt bred */
}


.verdier-over{
    display:grid;
    grid-template-columns: auto;
}

.leder{
    display:grid;
    grid-template-columns: auto;
    grid-template-rows: 10vh auto;

}

.info{
    display:grid;
    grid-template-columns: 30vw 60vw;
    padding-left: 10vw;
    padding-right: 10vw;

}
.subheader{
    display: flex;
    justify-content: center;
}
