body {
    font-family: "Inter", sans-serif;
    
    margin-top: 80px;
    background: #0f172a;
    color: white;
}

.logo {
    position: fixed;
    top: 20px;
    left: 20px;
    width: 80px;
    
}
main{
    text-align: center;
}
button {
    padding: 12px 20px;
    font-size: 16px;
    border: none;
    border-radius: 8px;
    background: #38bdf8;
    cursor: pointer;
}
header{
    width:100vw;
    display:grid;
    grid-template-columns: 10vw 90vw;
    grid-template-rows: 10vw;
    margin:0;
    font-size: 2vw;
    text-align: center;
}

.header-links{
    display:flex;
    justify-content: space-evenly;
}

a{
    text-decoration: none;
    color:white;
}

.omoss-main{
    display:grid;
    grid-template-columns: 45vw 45vw;
    grid-template-rows: auto;
    gap: 5vw;
}

.verdier{
    display: grid;
    grid-template-columns: 30vw 30vw 30vw;
    gap:1.5vw;
    justify-items: center;
}

.verdier p{
    text-align: center;
}

.verdier-over{
    display:grid;
    grid-template-columns: auto;
}

.leder{
    display:grid;
    grid-template-columns: auto;
    grid-template-rows: 10vh auto;

}

.info{
    display:grid;
    grid-template-columns: 30vw 60vw;
    padding-left: 10vw;
    padding-right: 10vw;

}
.subheader{
    display: flex;
    justify-content: center;
}
